<section data-ng-controller="PlayerController">
    <md-toolbar class="music-player md-whiteframe-10dp">
        <div class="md-toolbar-tools">
            <button class="md-raised md-button md-ink-ripple" type="button"><i class="glyphicon glyphicon-step-backward
glyphicon glyphicon-fast-"></i></button>

            <!--<button class="md-raised md-button md-ink-ripple" type="button" ng-if="!getIsLoaded()"><md-progress-circular md-mode="indeterminate"></md-progress-circular></button>-->
            <button class="md-raised md-button md-ink-ripple" type="button" ng-click="play()"  ng-if="getIsPaused()"><i class="glyphicon glyphicon-play"></i></button>
            <button class="md-raised md-button md-ink-ripple" type="button" ng-click="pause()"  ng-if="!getIsPaused()"><i class="glyphicon glyphicon-pause"></i></button>


            <button class="md-raised md-button md-ink-ripple" type="button"><i class="glyphicon glyphicon-step-forward"></i></button>

            <div><img class="music-player-cover" data-ng-src="modules/music/img/cover/{{getPlayingMusic().cover}}"></div>
            <div class="layout-column" layout="column">
                <div>{{getPlayingMusic().name}}</div>
                <div>{{getPlayingMusic().time.min}}:{{getPlayingMusic().time.sec}}</div>
            </div>
            <audio id="audio1"></audio>
        </div>
    </md-toolbar>
</section>
