
.music-thumb {
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.music-thumb-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    -moz-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
    color: #ffffff;
    background: transparent;
}

.music-thumb-overlay:before {
    content: '\f144';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    font: 400 50px 'FontAwesome';
    line-height: 50px;
    margin-top: -25px;
    text-align: center;
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    width: 50px;
    height: 50px;
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: transparent;
    margin-left: auto;
    margin-right: auto;
}

.music-thumb:hover .music-thumb-overlay:before {
    color: #258cd1;
    background: #ffffff;
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.music-player {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #424242 !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 9999999;
}

.music-player-cover {
    height: 32px;
    width: 32px;
    margin: 0 4px 0 4px;
}
